<section>
   <div class="business">
    <h1 style="text-align: center;">Pick the Business Template you love</h1>
  </div> 
  <div class="templates1">
  <img src="./assets/images/business1.png" class="template21">
        <div class="middle1">
        <a href="#business1"><div class="view1">View</div></a>
        </div>
</div> 
 <div class="templates2">
  <img src="./assets/images/business2.jpg" class="template22">
        <div class="middle2">
        <a href="#business2"><div class="view2">View</div></a>
        </div>
</div> 
<div class="templates3">
  <img src="./assets/images/business3.jpg" class="template23">
        <div class="middle3">
        <a href="#business3"><div class="view3">View</div></a>
        </div>
</div>
</section>