<section class="hero1" >

     <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">  
           
          <li class="active"><a href="#mobile"><img src="./assets/images/mobile.png" class="mobile"></a></li>
          <li class="active"><a href="#business1"><img src="./assets/images/desktop.png" class="mobile"></a></li>
          <li><h1 style="color: black;padding: 0 280px;"><a href="#">Free Website Template</a></h1></li> 
          <a href="#dragdrop"><h3 style="float: left;">Edit</h3></a>

      </ul>
    </nav>
  <div class="menu" contenteditable="true">
  <ul>
    <li><a ng-click="showAlert1()" href=""><h1>Home</h1></a></li>
    <li><a ng-click="showAlert2()" href=""><h1>Portfolio</h1></a></li>
    <li><a ng-click="showAlert3()" href=""><h1>About Us</h1></a></li>
    <li><a ng-click="showAlert4()" href=""><h1>Contact us</h1></a></li>
  </ul>
  <div class="menu-answer" contenteditable="true">
       <ul>


       <li> <div ng-show="myvalue1" class="ng-cloak"><p>A company’s homepage is often the first point of contact a consumer has with a company, and as such, is the single most important page on most websites. Users think of the homepage as the hotel lobby: As a jumping off point, a company's homepage should be well designed, easy to navigate and packed with informative content that leads the “guest” deeper into the site. </p></div></li>
        <li><div ng-show="myvalue2" class="ng-cloak"><p>We believe in empowering businesses like yours. You’re an artisan, an expert, and a master of your craft. You should be doing your best work, not struggling with your website. We empower businesses just like yours by delivering beautifully designed, secure, professional websites in seconds. Let us help you build a business as great as your ambitions.</p></div></li>
        <li><div ng-show="myvalue3" class="ng-cloak"><p>our mission is to level the playing field for businesses around the world. On Trepup, businesses can collaborate, communicate and transact within a trusted global community, online or from a mobile phone or tablet, in more than 8,000 cities and 148 countries.</p></div></li>
        <li><div ng-show="myvalue4" class="ng-cloak"><p>
Email: international@achieve3000.com
Phone: 732-987-3669
Schedule: Monday - Thursday 1:15 AM to 10:30 PM ET | Friday 7:30 AM to 10:30 PM ET</p></div></li>
</div>



</div>

</section>
  