<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="#travel_bg1"><img src="./assets/images/flo1.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo4.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo2.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo3.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo1.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo4.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo2.jpg" style="width: 180px; height: 180px"></a>
  <a href="#"><img src="./assets/images/flo3.jpg" style="width: 180px; height: 180px"></a>
</div>

<div id="main">
  
  <span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776; Change background</span>
</div>