
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body ng-app="myApp">
<div class="image">
<div class="getStarted">
	<div class="text">
<h1>Welcome to WEB BLITZ</h1>
<h2>Online platform for your business style website</h2>

  <a class="btn btn-primary create-btn" ng-href="#login" href="#login">Create Your Website</a>
 




</div>
</div>

</div>

</body>
</html>



