<section>
   <div class="template">
    <h1>Pick the Website Template you love</h1>
  </div> 
  <div class="templates1">
  <img src="./assets/images/template1.png" class="template21">
        <div class="middle1">
        <a href="#template1"><div class="view1">View</div></a>
        </div>
</div> 
 <div class="templates2">
  <img src="./assets/images/template2.png" class="template22">
        <div class="middle2">
        <a href="#template2"><div class="view2">View</div></a>
        </div>
</div> 
<div class="templates3">
  <img src="./assets/images/template3.png" class="template23">
        <div class="middle3">
        <a href="#template3"><div class="view3">View</div></a>
        </div>
</div>
</section>