<section class="hero" >

     <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">  
           
          <li class="active"><a href="#mobile"><img src="./assets/images/mobile.png" class="mobile"></a></li>
          <li class="active"><a href="#template1"><img src="./assets/images/desktop.png" class="mobile"></a></li>
          <li><h1><a href="#" style="color:black; padding: 20px 280px;">Free Website Template</a></h1></li> 
          <a href="#dragdrop"><h3 style="float: left;">Edit</h3></a>

      </ul>
    </nav>
  <div class="menu" contenteditable="true">
  <ul>
    <li><a ng-click="showAlert1()" href=""><h1>Home</h1></a></li>
    <li><a ng-click="showAlert2()" href=""><h1>Portfolio</h1></a></li>
    <li><a ng-click="showAlert3()" href=""><h1>About Us</h1></a></li>
    <li><a ng-click="showAlert4()" href=""><h1>Contact us</h1></a></li>
  </ul>
  <div class="menu-answer" contenteditable="true">
       <ul>


       <li> <div ng-show="myvalue1" class="ng-cloak"><p>SatDesigns gateway provides you with information, pictures and videos of mystical destinations spread out across the vast expanse of this beautiful state. A culture and heritage that have thrived since ancient times are available at your fingertips to explore and soak in. </p></div></li>
        <li><div ng-show="myvalue2" class="ng-cloak"><p>SatDesigns forte lies in development of complex solutions that are very easy to use. We come in as consultants and understand the needs of your business, help you in developing a sustainable online revenue model and also in implementing the same in a cost effective and timely manner.</p></div></li>
        <li><div ng-show="myvalue3" class="ng-cloak"><p>SatDesigns,Inc. is Signature Travel Network Partner. As a result of our signature partnership, SatDesigns,Inc. was created to provide travel content integrated with creative web design strategies that establish innovative marketing solutions for travel businesses of any size.</p></div></li>
        <li><div ng-show="myvalue4" class="ng-cloak"><p>We want to hear from you! To get in touch with us call (954) 317-2628!!!</p></div></li>
</div>



</div>

</section>
  