<div class="website-type">
	<h2>What Kind of Website do u want to create?</h2>
	<!-- <h1>Do you want to create?</h1> -->
</div>
<div class="verticals-list-group">
        <ul>
            <li>
                <a href="#template" class="website-types">
                    Travel 
                   <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                </a>
            </li>
            <li>
                <a href="#business" class="website-types">
                    Business
                   <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                </a>
            </li>
            <li>
               <a href="#" class="website-types">
                    food
                  <!--  <span class="glyphicon glyphicon-chevron-right"></span> -->
                </a>
            </li>
            <li>
               <a href="#" class="website-types">
                    OnlineStore
                  <!--  <span class="glyphicon glyphicon-chevron-right"></span> -->
                </a>
            </li>
            <li>
               <a href="#" class="website-types">
                    Other
                   <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                </a>
            </li>
        </ul>
</div>
        
           